.select {
    background-color: #39d10b;
    width: 10rem;
    width: 10rem;
    color: rgb(6, 172, 238);
    border-color: #39d10b;
}

.input {
    width: 6rem;
    height: 2.5rem;
    color: rgb(97, 101, 102);
    border: 1px solid rgb(97, 101, 102);;
}

