.control {
    margin: 1rem 0;
    display: flex;
  }
  
  
  
  .control input {
    text-align: center;
    width: 30%;
    font: inherit;
    padding: 0.2rem;
    border-radius: 12px;
    border: 1px solid #5a5858;
    margin-right: 1rem;
  }

  button{
    margin-right: 1rem;
  }

  .view{
    width: auto;
    height: auto;
    text-align: center;
    font-size: large;
  }